@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hero-pattern {
        background-color: #2D3748;
        background-image: linear-gradient(rgba(45, 55, 72, 0.85), rgba(45, 55, 72, 0.95)), url('images/Generated Image March 04, 2026 - 1_54PM.jpg');
        background-size: cover;
        background-position: center;
    }

    .text-gradient {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
